	User: <input type="text" name="userName" ng-model="user.name">
Password: <input type="password" name="userPass" ng-model="user.pass" required>
<input type="button" ng-click="main.login(user)" value="add" />
<br>
<input type="button" ng-click="main.log()" value="add" />
<table>
	<thead>
		<tr>			
			<th>ID</th>
			<th>Name</th>
			<th>Tag</th>
			<th>Quantity</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="product in main.productos | filter:main.filtro">			
			<td>{{ product.id }}</td>
			<td>{{ product.name }}</td>
			<td>{{ product.tag }}</td>
			<td><input type="number" scale="1" ng-model="product.quantity" /></td>
		</tr>
	</tbody>
</table>